# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# Environment
.env
.env.local

# Database
*.db
*.sqlite3
db.sqlite3

# Django
*/migrations/*.py
!*/migrations/__init__.py
staticfiles/
media/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/saved/*
!models/saved/.gitkeep

# Jupyter
.ipynb_checkpoints
*.ipynb